.build/
.DS_Store
.vscode
__pycache__
.conda
.ipynb_checkpoints
*.tar.gz
*.zip
.env
_minted
wandb
swanlog

lab/lab2/data
lab/lab3/data
lab/lab3/results
lab/lab3/wandb
lab/lab3/analyze.ipynb
lab/lab3/analyze_visualization_and_mlp.py
lab/lab3/analyze_token_gradients.py
lab/lab3/figures/*.png
lab/lab4/data
lab/lab4/results
lab/final/experiments